/*Estilo minimalista
Brayan Steven Echeverri Ospina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input::placeholder{
    color: white;
}
body{
    background:#000000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}
.contenedor{
    max-width: 80vw;
    min-width: 400px;
    box-shadow:rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    h1{
        color:#ffffff;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 20px 0px;
        font-family: 'Montserrat', sans-serif;
    }
    }
    .subtitulo{
        font-family: 'Poppins', sans-serif;
        color:#ffffff;
        font-weight: 600;
        display: flex;
        text-align: center;
        justify-content: center;
        max-width: 100%;
        font-size: 1.2rem;
    }

    .formulario{
        border: 1px;
        margin: 10px;
        padding: 10px;
        gap:15px;
        border: 1px solid white;

        .campo{
            background-color: rgb(0, 0, 0);
            padding: 15px;
            margin: 5px;
            width: 300px;
            border-radius: 5px;
            text-align:left;
        }

        label{
        font-family: 'Poppins', sans-serif;
        font-size:0.8rem;
        font-weight:600;
        color:#ffffff;
        }
        input{
        font-family: 'Poppins', sans-serif;
        width:100%;
        padding:10px;
        border-radius:6px;
        border:1px solid #e5e5e5;
        margin-top:5px;
        font-size:0.9rem;
        background-color: #000000;
        color: #ffffff;
        }
        button{
        margin-top: 10px;
        padding:12px;
        border:none;
        border-radius:8px;
        background:#000000;
        color:white;
        font-weight:600;
        cursor:pointer;
        transition:0.2s;
        font-family: 'Poppins', sans-serif;
        border:1px solid #e5e5e5;
    }
        button:active{
        background-color: #cdcdcd;
        transition:all ease 5s;
    }

        button:hover{
        transform: translate(-2px);
        background:#bfbfbf;
    }
    }
.resultado{
    width: 100%;
    text-align: center;
    align-items: center;
    h2{
        color: rgb(255, 255, 255);
        text-align: center;
        align-items: center;
    }
}
.nivel{
    margin-top:10px;
    font-weight:600;
}
